<header class="flex justify-around py-4 shadow-md">
  <div class="container flex items-center justify-between">
    <a href="/">
      <img class="max-w-48" src="/assets/logo.png" alt="">
    </a>
    <nav class="flex gap-4 last:outline-dashed last:outline-1 last:outline-yellow-200">
      @for(item of buttons; track item.label){
      <a href="#" class="flex items-baseline capitalize gap-1 text-sm __ghost_button__">
        @if(item.icon){
        <fa-icon [icon]="item.icon" class="text-inherit" />
        }
        {{item.label}}
      </a>
      }
    </nav>
    <button class="__primary_button__">
      Sign up
    </button>
  </div>
</header>
