@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.__primary_button__ {
  @apply px-4 text-white bg-primary rounded-md h-fit py-2 transition-colors hover:bg-transparent hover:text-primary hover:outline hover:outline-1 hover:outline-primary font-semibold text-sm
}

.__ghost_button__ {
  @apply transition-colors hover:text-primary
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
