<app-section>
  <app-section-header>
    Welcome، What do you want to look for today?
  </app-section-header>
  <swiper-container pagination="true" navigation="true" allow-touch-move="true" slides-per-view="2.5" mousewheel="true"
    keyboard="true" speed="500">
    @for(item of rating; track item.id){
    <swiper-slide class="p-10">
      <app-card>
        <div class="bg-black aspect-square w-44 rounded-full">
        </div>
        <app-card-content class="flex-1 relative">
          <button class="absolute top-0 right-0 __ghost_button__">
            <fa-icon [icon]="shareIcon" />
          </button>
          <app-card-title title="algam alka" />
          <app-card-description description="Eye doctor specialist" />
          <div class="flex gap-2">
            Rating:
            <div class="flex gap-1 items-center">
              @for(item of rating; track item.id){
              <fa-icon class="text-xs text-yellow-300 " [icon]="ratingStar" />
              }
            </div>
          </div>
          <div class="flex justify-end my-2">
            <a href="#" class="__primary_button__">
              Show
            </a>
          </div>
        </app-card-content>
      </app-card>
    </swiper-slide>
    }
  </swiper-container>
</app-section>


<app-section>
  <app-section-header>
    Book Online Doctor with 3ayz Doctor
  </app-section-header>
  <swiper-container pagination="true" navigation="true" allow-touch-move="true" slides-per-view="2.5" mousewheel="true"
    keyboard="true" speed="500">
    @for(item of rating; track item.id){
    <swiper-slide class="p-10">
      <app-card [full]="true">
        <div class="bg-black min-h-[250px] w-full">
        </div>
        <app-card-content>
          <app-card-title title="Book a doctor" />
          <app-card-description description="Book Online Doctor with 3ayz Doctor" />
        </app-card-content>
      </app-card>
    </swiper-slide>
    }
  </swiper-container>
</app-section>


<app-section>
  <app-card [full]="true">
    <swiper-container class="w-full" allow-touch-move="true" slides-per-view="1" autoplay="true" mousewheel="true"
      keyboard="true" speed="500">
      @for(item of rating; track item.id){
      <swiper-slide>
        <div [ngClass]="'bg-black min-h-[250px] w-full'">
        </div>
      </swiper-slide>
      }

    </swiper-container>
  </app-card>
</app-section>


<app-section>
  <app-section-header>
    Exclusive offers from medical services
  </app-section-header>
  <app-section-header-description>
    enjoy healthy life deals and offers from 3ayz Doctor
  </app-section-header-description>
  <div class="my-4">
    <swiper-container pagination="true" navigation="true" allow-touch-move="true" slides-per-view="2.5"
      mousewheel="true" keyboard="true" speed="500">
      @for(item of rating; track item.id){
      <swiper-slide class="p-10">
        <app-card [full]="true" class="relative">
          <span class="absolute px-4 py-1 bg-primary text-white rounded-md">
            Offer
          </span>
          <app-card-content class="w-full">
            <div class="text-center">
              <app-card-title title="InBody" />
              <h4 class="text-primary/50">Doctor Hanan</h4>
              <app-card-description description="Specialist in blah blah blah blah" />
              @for(item of rating; track item.id){
              <fa-icon class="text-xs text-yellow-300 " [icon]="ratingStar" />
              }
            </div>
          </app-card-content>
          <div class="bg-black min-h-[350px] w-full">
          </div>
        </app-card>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</app-section>


<app-section>
  <app-section-header>
    Find doctors in top specialities
  </app-section-header>
  <swiper-container pagination="true" navigation="true" allow-touch-move="true" slides-per-view="2.5" mousewheel="true"
    keyboard="true" speed="500">
    @for(item of rating; track item.id){
    <swiper-slide class="p-10">
      <app-card [full]="true">
        <div class="bg-black min-h-[250px] w-full">
        </div>
        <app-card-content>
          <app-card-title title="Nutrition and Nutrition" />
          <app-card-description description="Get guidance on eating right, weight management and sports nutrition" />
        </app-card-content>
      </app-card>
    </swiper-slide>
    }
  </swiper-container>
</app-section>

<app-section>
  <app-section-header>
    3 Steps to Better Health with 3ayzDoctor.com
  </app-section-header>
  <app-section-header-description>
    Do this basic things and have a healthy life
  </app-section-header-description>
  <div class="flex gap-4">
    <div class="bg-black aspect-square flex-1">
    </div>

    <div class="bg-black aspect-square flex-1">
    </div>
    <div class="bg-black aspect-square flex-1">
    </div>
  </div>
</app-section>

<app-section>
  <hr />
</app-section>

<app-section>
    <app-section-header class="text-center">
What our users say about us?
    </app-section-header>
</app-section>
