<app-section>
  <app-section-header>
    <span i18n>
      Welcome، What do you want to look for today?
    </span>
  </app-section-header>
  <swiper-container pagination="true" navigation="true" allow-touch-move="true" mousewheel="true" keyboard="true"
    speed="500">
    @for(item of doctors; track item.name){
    <swiper-slide class="p-10">
      <app-card>
        <div class="relative aspect-square w-44 rounded-full">
          <img src="/assets/doctor-image.webp" class="absolute w-full rounded-full" alt="">
        </div>
        <app-card-content class="flex-1 relative">
          <button class="absolute top-0 ltr:right-0 __ghost_button__ rtl:left-0">
            <fa-icon [icon]="shareIcon" />
          </button>
          <app-card-title [title]="item.name" />
          <app-card-description [description]="item.speciality" />
          <div class="flex items-center gap-2">
            <span i18n>
              Rating:
            </span>
            <app-rating [rating]="item.rating" />
          </div>
          <div class="flex justify-end my-2">
            <a href="#" class="__primary_button__">
              Show
            </a>
          </div>
        </app-card-content>
      </app-card>
    </swiper-slide>
    }
  </swiper-container>
</app-section>


<app-section>
  <app-section-header>
    <span i18n>
      Book Online Doctor with 3ayz Doctor
    </span>
  </app-section-header>
  <swiper-container pagination="true" navigation="true" allow-touch-move="true" mousewheel="true" keyboard="true"
    speed="500">
    @for(item of rating; track item.id){
    <swiper-slide class="p-10">
      <app-card [full]="true">
        <div class="relative min-h-[200px] md:min-h-[250px] w-full">
          <img src="/assets/medical-service-image.webp" class="absolute object-cover" alt="">
        </div>
        <app-card-content>
          <app-card-title title="Book a doctor" />
          <app-card-description description="Book Online Doctor with 3ayz Doctor" />
        </app-card-content>
      </app-card>
    </swiper-slide>
    }
  </swiper-container>
</app-section>


<app-section>
  <app-card [full]="true">
    <swiper-container data-dont-resize="true" class="w-full" allow-touch-move="true" slides-per-view="1" autoplay="true"
      mousewheel="true" keyboard="true" speed="500">
      @for(item of rating; track item.id){
      <swiper-slide>
        <div [class]="'relative min-h-[75px] md:min-h-[250px] w-full'">
          <img src="/assets/service.webp" class="absolute object-cover" alt="">
        </div>
      </swiper-slide>
      }

    </swiper-container>
  </app-card>
</app-section>


<app-section>
  <app-section-header>
    <span i18n>
      Exclusive offers from medical services
    </span>
  </app-section-header>
  <app-section-header-description>
    <span i18n>
      enjoy healthy life deals and offers from 3ayz Doctor
    </span>
  </app-section-header-description>
  <div class="my-4">
    <swiper-container pagination="true" navigation="true" allow-touch-move="true" mousewheel="true" keyboard="true"
      speed="500">
      @for(item of rating; track item.id){
      <swiper-slide class="p-10">
        <app-card [full]="true" class="relative">
          <span class="absolute px-4 py-1 bg-primary text-white rounded-md" i18n>
            Offer
          </span>
          <app-card-content class="w-full">
            <div class="text-center">
              <app-card-title title="InBody" />
              <h4 class="text-primary/50">Doctor Hanan</h4>
              <app-card-description description="Specialist in blah blah blah blah" />
              @for(item of rating; track item.id){
              <fa-icon class="text-xs text-yellow-300 " [icon]="ratingStar" />
              }
            </div>
          </app-card-content>
          <div class="bg-black min-h-[350px] w-full">
          </div>
        </app-card>
      </swiper-slide>
      }
    </swiper-container>
  </div>
</app-section>


<app-section>
  <app-section-header>
    <span i18n>
      Find doctors in top specialities
    </span>
  </app-section-header>
  <swiper-container pagination="true" navigation="true" allow-touch-move="true" mousewheel="true" keyboard="true"
    speed="500">
    @for(item of rating; track item.id){
    <swiper-slide class="p-10">
      <app-card [full]="true">
        <div class="relative min-h-[175px] md:min-h-[250px] w-full">
          <img class="absolute object-cover" src="/assets/find-doctor-image.webp" alt="">
        </div>
        <app-card-content>
          <app-card-title title="Nutrition and Nutrition" />
          <app-card-description description="Get guidance on eating right, weight management and sports nutrition" />
        </app-card-content>
      </app-card>
    </swiper-slide>
    }
  </swiper-container>
</app-section>

<app-section>
  <app-section-header>
    <span i18n>
      3 Steps to Better Health with 3ayzDoctor.com
    </span>
  </app-section-header>
  <app-section-header-description>
    <span i18n>
      Do this basic things and have a healthy life
    </span>
  </app-section-header-description>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="relative bg-black aspect-square flex-1">
      <img src="/assets/why-join-1.webp" class="absolute top-0 w-full h-full object-fill" alt="">
    </div>
    <div class="relative bg-black aspect-square flex-1">
      <img src="/assets/why-join-2.webp" class="absolute top-0 w-full h-full object-fill" alt="">
    </div>
    <div class="relative bg-black aspect-square flex-1">
      <img src="/assets/why-join-3.webp" class="absolute top-0 w-full h-full object-fill" alt="">
    </div>
  </div>
</app-section>

<app-section>
  <hr />
</app-section>

<app-section>
  <app-section-header class="text-center">
    <span i18n>
      What our users say about us?
    </span>
  </app-section-header>
</app-section>
